*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    /* fonts */
    --serif: 'Libre Caslon Display', serif;
    --sans-serif: 'Inter', sans-serif;
    
    /* colors */
    --blown-light: #f9f3ed;
    --black: #000000;

    /* z index of layers */
    --z-wrapper: 1;
    --z-header: 100;
    --z-app: 10;
}

::selection{
    color: white;
    background-color: black;
}

html{
    font-size: 10px;
}

.wrapper{
    position: relative;
    background-color: var(--blown-light);
    overflow: hidden !important;
    z-index: var(--z-wrapper);
}

/* noise */
 
.wrapper::before {
    top: -10rem;
    left: -10rem;
    width: calc(100% + 20rem);
    height: calc(100% + 20rem);
    content: '';
    position: absolute;
    pointer-events: none;
    background-position: 50%;
    background-image: url(../images/noise.png);
    pointer-events: none;
    animation: noise 1s steps(2) infinite;
}

@keyframes noise {
	0% {
		transform: translate3d(0, 9rem, 0)
	}
	10% {
		transform: translate3d(-1rem, -4rem, 0)
	}
	20% {
		transform: translate3d(-8rem, 2rem, 0)
	}
	30% {
		transform: translate3d(9rem, -9rem, 0)
	}
	40% {
		transform: translate3d(-2rem, 7rem, 0)
	}
	50% {
		transform: translate3d(-9rem, -4rem, 0)
	}
	60% {
		transform: translate3d(2rem, 6rem, 0)
	}
	70% {
		transform: translate3d(7rem, -8rem, 0)
	}
	80% {
		transform: translate3d(-9rem, 1rem, 0)
	}
	90% {
		transform: translate3d(6rem, -5rem, 0)
	}
	to {
		transform: translate3d(-7rem, 0, 0)
	}
}

/* header */

.header{
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-header);
    padding-top: 10vh;
}

.header__content{
    width: calc(100% - 16rem);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header__logo{
    display: flex;
    align-items: center;
}

.header__logo-item{
    font-size: 2.56rem;
    font-family: var(--serif);
    text-decoration: none;
    color: black;
    letter-spacing: -1px;
    overflow: hidden;
    display: inline-block;
    line-height: 1;
}

.header__nav{
    display: flex;
    list-style: none;
    align-content: center;
}

.header__nav-item{
    display: flex;
    align-items: flex-end;
    margin-left: 2rem;
}

.header__nav-a{
    font-size: 1.6rem;
    font-family: var(--sans-serif);
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.header__nav-icon{
    width: 1.6rem;
    height: 1.6rem;
    display: inline-block;
    opacity: 0;
    transition: all 250ms ease;
}

.header__nav-item:hover .header__nav-icon{
    opacity: 1;
}

.header__nav-icon svg{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header__nav-text{
    display: inline-block;
    line-height: 1;
}

/* app */

.app{
    width: 100%;
    height: auto;
    position: relative;
    z-index: var(--z-app);
    overflow: hidden;
}

.whitespace{
    width: 100%;
    height: 90vh;
    position: relative;
    z-index: 10;
}

.start{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    z-index: 11;
}

.start__heading{
    width: auto;
    text-align: center;
    font-size: 9.4rem;
    font-family: var(--serif);
    text-transform: uppercase;
    letter-spacing: -5px;
    line-height: 1;
    position: relative;
    overflow: hidden;
}

.start__heading-item{
    display: inline-block;
    width: auto;
    height: auto;
}

.start__heading-item span{
    display: inline-block;
    transform-origin: right;
}

/* first */

.first{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.first__content{
    width: calc(100% - 16rem);
    height: 100vh;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

.first__image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    z-index: 10;
    pointer-events: none;
}

.first__image-animate,
.first__text{
    position: absolute;
    top: 50%;
    left: 50%;
    object-fit: contain;
    transform-origin: center;
    pointer-events: none;
}

.first__image-animate{
    width: 100%;
    height: 80%;
}

.first__image-animate1{
    z-index: 11;
    transform: translate(-50%, -50%) rotate(-5deg);
}

.first__image-animate2{
    z-index: 12;
    transform: translate(-50%, -50%) rotate(5deg);
}

.first__image-animate3{
    z-index: 13;
    transform: translate(-50%, -50%) rotate(-3deg);
}

.first__image-animate4{
    z-index: 14;
    transform: translate(-50%, -50%) rotate(8deg);
}

.first__image-animate5{
    z-index: 15;
    transform: translate(-50%, -50%) rotate(-2deg);
}

.first__text{
    z-index: 16;
    display: inline-block;
    font-size: 20rem;
    transform: translate(-50%, -50%);
    font-family: var(--serif);
    color: var(--blown-light);
    letter-spacing: -10px;
}

/* footer */

footer{
    height: 100vh;
}