*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    /* fonts */
    --serif: 'Libre Caslon Display', serif;
    --sans-serif: 'Inter', sans-serif;
    
    /* colors */
    --blown-light: #f9f3ed;
    --black: #000000;

    /* z index of layers */
    --z-wrapper: 1;
    --z-header: 100;
    --z-app: 10;
}

::selection{
    color: white;
    background-color: black;
}

html{
    font-size: 10px;
}

.wrapper{
    position: relative;
    background-color: var(--blown-light);
    overflow: hidden !important;
    z-index: var(--z-wrapper);
}

/* noise */
 
.wrapper::before {
    top: -10rem;
    left: -10rem;
    width: calc(100% + 20rem);
    height: calc(100% + 20rem);
    content: '';
    position: absolute;
    pointer-events: none;
    background-position: 50%;
    background-image: url(../images/noise.png);
    pointer-events: none;
    animation: noise 1s steps(2) infinite;
}

@keyframes noise {
	0% {
		transform: translate3d(0, 9rem, 0)
	}
	10% {
		transform: translate3d(-1rem, -4rem, 0)
	}
	20% {
		transform: translate3d(-8rem, 2rem, 0)
	}
	30% {
		transform: translate3d(9rem, -9rem, 0)
	}
	40% {
		transform: translate3d(-2rem, 7rem, 0)
	}
	50% {
		transform: translate3d(-9rem, -4rem, 0)
	}
	60% {
		transform: translate3d(2rem, 6rem, 0)
	}
	70% {
		transform: translate3d(7rem, -8rem, 0)
	}
	80% {
		transform: translate3d(-9rem, 1rem, 0)
	}
	90% {
		transform: translate3d(6rem, -5rem, 0)
	}
	to {
		transform: translate3d(-7rem, 0, 0)
	}
}

/* header */

.header{
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-header);
    padding-top: 10vh;
}

.header__content{
    width: calc(100% - 16rem);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header__logo{
    display: flex;
    align-items: center;
}

.header__logo-item{
    font-size: 2.56rem;
    font-family: var(--serif);
    text-decoration: none;
    color: black;
    letter-spacing: -1px;
    overflow: hidden;
    display: inline-block;
    line-height: 1;
}

.header__nav{
    display: flex;
    list-style: none;
    align-content: center;
}

.header__nav-item{
    display: flex;
    align-items: flex-end;
    margin-left: 2rem;
}

.header__nav-a{
    font-size: 1.6rem;
    font-family: var(--sans-serif);
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.header__nav-icon{
    width: 1.6rem;
    height: 1.6rem;
    display: inline-block;
    opacity: 0;
    transition: all 250ms ease;
}

.header__nav-item:hover .header__nav-icon{
    opacity: 1;
}

.header__nav-icon svg{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header__nav-text{
    display: inline-block;
    line-height: 1;
}

/* app */

.app{
    width: 100%;
    height: auto;
    position: relative;
    z-index: var(--z-app);
    overflow: hidden;
}

.whitespace{
    width: 100%;
    height: 90vh;
    position: relative;
    z-index: 10;
}

.start{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    z-index: 11;
}

.start__heading{
    width: auto;
    text-align: center;
    font-size: 9.4rem;
    font-family: var(--serif);
    text-transform: uppercase;
    letter-spacing: -5px;
    line-height: 1;
    position: relative;
    overflow: hidden;
}

.start__heading-item{
    display: inline-block;
    width: auto;
    height: auto;
}

.start__heading-item span{
    display: inline-block;
    transform-origin: right;
}

.start__scroll{
    width: 8rem;
    height: 8rem;
    position: absolute;
    bottom: 10vh;
    left: 50%;
    transform: translate(-50%, 50%);
    overflow: hidden;
}

.start__scroll-item{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* intro */

.intro{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.intro__content{
    width: calc(100% - 16rem);
    height: 100vh;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

.intro__image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    z-index: 10;
    pointer-events: none;
}

.intro__image-animate,
.intro__text{
    position: absolute;
    top: 50%;
    left: 50%;
    object-fit: contain;
    transform-origin: center;
    pointer-events: none;
}

.intro__image-animate{
    width: 100%;
    height: 80%;
}

.intro__image-animate1{
    z-index: 11;
    transform: translate(-50%, -50%) rotate(-5deg);
}

.intro__image-animate2{
    z-index: 12;
    transform: translate(-50%, -50%) rotate(5deg);
}

.intro__image-animate3{
    z-index: 13;
    transform: translate(-50%, -50%) rotate(-3deg);
}

.intro__image-animate4{
    z-index: 14;
    transform: translate(-50%, -50%) rotate(8deg);
}

.intro__image-animate5{
    z-index: 15;
    transform: translate(-50%, -50%) rotate(-2deg);
}

.intro__text{
    z-index: 16;
    display: inline-block;
    font-size: 20rem;
    transform: translate(-50%, -50%);
    font-family: var(--serif);
    color: var(--blown-light);
    letter-spacing: -10px;
}

/* latest works */

.latest{
    width: 100%;
    height: auto;
    padding: 16rem 0;
}

.latest__content{
    width: calc(100% - 16rem);
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 2rem;
}

.latest__heading{
    grid-column: 1/7;
    font-size: 2.4rem;
    font-family: var(--sans-serif);
    width: 100%;
    height: auto;
    text-transform: uppercase;
}

.latest__heading-item{
    display: block;
}

.latest__heading-item sup{
    font-size: 0.75em;
}

.latest__ending{
    grid-column: 7/-1;
    font-size: 2.4rem;
    font-family: var(--sans-serif);
    width: 100%;
    height: auto;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    flex-direction: column;
}

.latest__ending-item{
    display: inline-block;
    text-align: right;
}

.latest__image{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.latest__image-link{
    display: flex;
    overflow: hidden;
    position: relative;
    color: var(--blown-light);
    text-decoration: none;
    font-size: 2.4rem;
    font-family: var(--serif);
}

.latest__image-text{
    position: absolute;
    bottom: 25%;
    left: 50%;
    width: auto;
    height: auto;
    transform: translate(-50%, 50%);
    overflow: hidden;
}

.latest__image-text div{
    overflow: hidden;
}

.latest__image-text span{
    display: block;
    text-align: center;
    transform-origin: right;
}

.latest__image1{
    grid-column: 7/-1;
}

.latest__image2{
    grid-column: 2/6;
    margin-top: -16rem;
}

.latest__image3{
    grid-column: 8/12;
    margin-top: 16rem;
}

.latest__image4{
    grid-column: 1/7;
    margin-top: -16rem;
}

.latest__image-item{
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    transition: all 1000ms cubic-bezier(.5,0,0,1);
}

.latest__image-item:hover{
    transform: scale(1.1);
}

/* selected */

.selected{
    width: 100%;
    height: 100vh;
    border-top: 1px solid black;
    overflow: hidden;
}

.selected__wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}

.selected__container{
    width: 100%;
    height: 100%;
    position: absolute;
}

.selected__content{
    margin: 0 auto; 
    width: 100%;
    height: 100%;
    position: relative;
}

.selected__container-1{
    top: 0;
    left: 0;
}

.selected__container-1 .selected__content{
}

.selected__container-2{
    transform: translateX(100%);
}

.selected__container-2 .selected__content{
}

.selected__container-3{
    transform: translateX(200%);
}

.selected__container-3 .selected__content{
}

/* selected images and links */

.selected__photos{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 75%;
    transform: translate(-50%, -50%);
}

.selected__photos-item{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.selected__text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.selected__headering{
    grid-row: 1/2;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 9.4rem;
    font-family: var(--serif);
    text-transform: uppercase;
    letter-spacing: -5px;
    line-height: 1;
    color: white;
}

.selected__headering-content{
    position: relative;
    display: inline-block;
    padding-bottom: 1rem;
}

.selected__headering-content::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid white;
    transform: scaleX(1.6);
}

.selected__desc{
    grid-row: 2/-1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 3.6rem;
    font-family: var(--sans-serif);
    text-transform: uppercase;
    line-height: 1;
    color: white;
}

.selected__desc-content{
    margin-top: 1rem;
    display: inline-block;
}

/* ratio 0,80006902105142068330840906476475 = 0.8 */

/* footer */

footer{
    height: 100vh;
    border-top: 1px solid black;
}